/* CSS Document */
body{
display:inline;
background-image:  url("HOOD.png"); 
background-repeat: no-repeat;

background-size: cover;
background-position:center;
  <!--  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
        --*>
     background-attachment: scroll;
}


/*--------------------------------------------------------------------Navbar*/

.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: #fff;
      padding: 0 10px;
    }
    .navbar a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
    }
    .navbar a:hover {
      color: #ccc;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .logo img {
      height: 80px;
      margin: 0;
    }
    .logo span {
      font-size: 60px;
      margin: 0 5px;
    }
    .login-btn {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
    }
    
    .help-btn {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      }

/*-------------------------------------------------------Footer*/
.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
    text-align: center;

}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:center;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:center;
}
.footer .row a i{
margin:0% 3%;
}
}
    
/*------------------------------------------------------------------------main page*/
    div.form {
    text-align:center;
    height: 780px;
    padding: 0 100px;
    }
    
    footer{
    height: -600px;
    text-align:;
    background-color:#bfbfbf;
    }
    
    div.copy{
    text-align:left;
    width:1030px;
    text-decoration: bold;
    margin: 4px
    }
    
    div.form_admin{
     text-align:center;
    height: 470px;
    }

/*-------------------------------------------------------------issue form*/

input[type=text] {
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #D0D0D0;
  color: white;
}
input[type=number] {
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #D0D0D0;
  color: white;
}
input[type=number]:focus {
  border: 3px solid red;
}
    
input[type=text]:focus {
  border: 3px solid red;
}
    
input[type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #D0D0D0;
  color: white;
}
    
input[type=password]:focus {
  border: 3px solid red;
}
input[type=submit]{
 font-family: "COPPERPLATE", "COPPERPLATE", fantasy;
  background-color: #D0D0D0; 
  border: 2px solid #484848;
  box-sizing: border-box;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;

}
input[type=reset]{
 font-family: "COPPERPLATE", "COPPERPLATE", fantasy;
  background-color: #D0D0D0; 
  border: 2px solid #484848;
  box-sizing: border-box;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #D0D0D0;
  color: white;
}
textarea[type=text]:focus {
  border: 3px solid red;
}

/*-------------------------------------------admin_tabulka  */ 
    

div.table{
     height: 780px;
    padding-left: 400px;
    padding-top: 100px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  text-align: center;
}

td, th {
  border: 1.5px solid black;
  text-align: center;
  padding: 8px;
    background-color: gray;
}
th.header{
    border: 1.5px solid black;
  text-align: center;
  padding: 8px;
    background-color: gray;
}


td,tr:nth-child(even) {
  background-color: #dddddd;
}

.dropbtn {
  background-color: #dddddd;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #dddddd;
}

/*------------------------------------------------------------------------HELP*/
div.help{
    text-align: center;
    padding-left: 400px;
    padding-right:400px; 
     height: 780px;
}
