body{
display:inline;

}
.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: #fff;
      padding: 0 20px;
    }
    .navbar a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
    }
    .navbar a:hover {
      color: #ccc;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .logo img {
      height: 70px;
      margin: 0;
    }
    .logo span {
      font-size: 60px;
      margin: 0 10px;
    }
    .login-btn {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
    }
    
    .help-btn {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      }
    div.form {
    text-align:center;
    height: 870px;
    }
    footer{
    height: -500px;
    text-align:;
    background-color:#bfbfbf;

    }
    div.copy{
    text-align:left;
    width:1030px;
    text-decoration: bold;
    margin: 4px
    }
    
    div.form_admin{
     text-align:center;
    height: 470px;
    }

    
